<%= form_for(@episode) do |f| %>
  <% if @episode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@episode.errors.count, "error") %> prohibited this episode from being saved:</h2>

      <ul>
      <% @episode.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :season %>*<br />
    <%= f.text_field :season %>
  </div>
  <div class="field">
    <%= f.label :episode_number %>*<br />
    <%= f.text_field :episode_number %>
  </div>
  <div class="field">
    <%= f.label :title %>*<br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :protagonist %><br />
    <%= f.select(:protagonist, %w(Mary Murray Lou Ted Rhoda SueAnn Georgette Phyllis Other)) %>
  </div>
  <div class="field">
    <%= f.label :did_mary_date %><br />
    <%= f.check_box :did_mary_date %>
  </div>
  <div class="field">
    <%= f.label :dates_name %><br />
    <%= f.text_field :dates_name %>
  </div>
  <div class="field">
    <%= f.label :dates_hair_color %><br />
    <%= f.text_field :dates_hair_color %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
