<p id="notice"><%= notice %></p>

<p>
  <b>Season:</b>
  <%= @episode.season %>
</p>

<p>
  <b>Episode number:</b>
  <%= @episode.episode_number %>
</p>

<p>
  <b>Title:</b>
  <%= @episode.title %>
</p>

<p>
  <b>Protagonist:</b>
  <%= @episode.protagonist %>
</p>

<p>
  <b>Did Mary have a date in this episode?:</b>
  <%= @episode.did_mary_date %>
</p>

<p>
  <b>Her date's name was:</b>
  <%= @episode.dates_name %>
</p>

<p>
  <b>The date's hair color was:</b>
  <%= @episode.dates_hair_color %>
</p>

<table class="profile">
  <tr>
    <td class="main">
      <% unless @episode.reviews.empty? %>
        <table class="reviews" summary="Episode reviews">
          <%= render @reviews %>
        </table>
        <%= will_paginate @reviews %>
      <% end %>
    </td>
    <td class="sidebar round">
      <strong>Reviews</strong> <%= @episode.reviews.count %>
    </td>
  </tr>
</table>





<%= link_to 'Edit', edit_episode_path(@episode) %> |
<%= link_to 'Back', episodes_path %>
