<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%=	f.label :reviewer_name, "Your Name" %><br />
    <%=	f.text_field :reviewer_name %>
  </div>
  <div class="field">
    <%= f.label :content, "Your Review"%><br />
    <%= f.text_field :content %>
  </div>
    Please see episode list to get the Episode ID.
  <div class="field">
    <%= f.label :episode_id, "Episode ID"%><br />
    <%= f.text_field :episode_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>