<p id="notice"><%= notice %></p>

<p>
  <b><%= @review.reviewer_name %> says:</b>
</p>
<p>
  <%= @review.content %>
</p>

<p>
  <b>Episode:</b>
  </br>
  S:<%= (Episode.find(@review.episode_id)).season %>/Ep:<%= (Episode.find(@review.episode_id)).episode_number %>,
  <%= (Episode.find(@review.episode_id)).title %>
</p>


<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
