<p id="notice"><%= notice %></p>

<p>
  <b>Reviewer Name:</b>
  <%= @review.reviewer_name %>
</p>

<p>
  <b>Content:</b>
  <%= @review.content %>
</p>

<p>
  <b>Episode:</b>
  <%= @review.episode_id %>
</p>


<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
