<header>
  <% logo = image_tag("logo.PNG", :alt => "MTM Review Page", :class => "round") %>
  <%= link_to logo, root_path %>
<nav class="round">
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "See Episodes", showepisodes_path %></li>
    <li><%= link_to "See Reviews", showreviews_path %></li>
    <li><%= link_to "About", about_path %></li>
  </ul>
</nav>
</header>